<mat-toolbar color="primary">
  <!--<button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>-->
  <button mat-button [routerLink]="['/']">WordProgressor</button>

  <span class="spacer"></span>

  <!--<button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>-->
  <ul>
    <li><a mat-button routerLink="/projects" routerLinkActive="mat-accent">{{ 'label_projects' | translate }}</a></li>

    <li *ngIf="isAuthenticated"><a mat-button (click)="onLogout()">{{ 'label_logout' | translate }}</a></li>
    <li *ngIf="!isAuthenticated"><a mat-button routerLink="/auth" routerLinkActive="mat-accent">{{ 'label_login' | translate }}</a></li>

    <li *ngIf="isAuthenticated"><a mat-button routerLink="/settings" routerLinkActive="mat-accent"><i class="mat-icon material-icons">settings</i></a></li>
  </ul>
</mat-toolbar>
