<div *ngIf="isLoading" class="loader"></div>

<ng-container *ngIf="!isLoading">
<div *ngIf="projects.length > 0" class="project-list">
  <app-project-item
    *ngFor="let project of projects"
    [project]="project"
    class="list-card-item"
  ></app-project-item>
</div>
<p *ngIf="projects.length <= 0" class="empty-info">{{ 'info_no_projects' | translate }}</p>
</ng-container>

<app-project-footer [totalProjectsLength]="totalProjectsLength" [displayProjectsLength]="displayProjectsLength"></app-project-footer>
