<?xml version='1.0' encoding='utf-8'?>
<widget id="com.erdbeerbeet.wordprogressor" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>WordProgressor</name>
    <description>
        A home for your writing projects, stories, and ideas.
    </description>
    <author email="develop@erdbeerbeet.com" href="https://www.erdbeerbeet.com">
        Fenja Hanisch
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <resource-file src="google-services.json" target="app/google-services.json" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <resource-file src="GoogleService-Info.plist" />
    </platform>
  <preference name="AutoHideSplashScreen" value="true" />
  <universal-links>
    <host name="wordprogressor.page.link" scheme="https" />
    <host name="wordprogressor.firebaseapp.com" scheme="https">
      <path url="/__/auth/callback"/>
    </host>
  </universal-links>
</widget>
