<div>
  <div *ngIf="isLoading" class="center-container">
    <mat-spinner color="primary"></mat-spinner>
  </div>

  <div *ngIf="error" class="alert">
    <mat-error>
      <mat-label>{{ error | translate }}</mat-label>
    </mat-error>
  </div>
  <form
    *ngIf="!isLoading"
    class="form-group"
    #authForm="ngForm"
    (ngSubmit)="onSubmit()"
  >
    <div>
      <mat-form-field>
        <mat-label data-testid="email-input-label">{{ 'label_email' | translate }}</mat-label>
        <input
          matInput
          type="email"
          name="email"
          class="form-control"
          data-testid="email-input"
          required
          email
          ngModel
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label data-testid="password-input-label">{{ 'label_password' | translate }}</mat-label>
        <input
          matInput
          type="password"
          name="password"
          class="form-control"
          data-testid="password-input"
          required
          ngModel
          minlength="6"
        >
      </mat-form-field>

      <div class="button-row">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          data-testid="login-button"
          [disabled]="!authForm.valid"
        >{{ (isLoginMode ? 'button_login' : 'button_signup') | translate }}</button>
        <button
          *ngIf="!isCreateFromLocalMode"
          mat-stroked-button
          color="primary"
          data-testid="switch-button"
          type="button"
          (click)="onSwitchMode()"
        >{{ (isLoginMode ? 'button_switch_to_signup' : 'button_switch_to_login') | translate }}</button>

      <button
        mat-stroked-button
        color="warn"
        data-testid="google-login-button"
        type="button"
        (click)="onGoogleLogin()"
      >{{ (isLoginMode ? 'button_google_login' : 'button_google_register') | translate }}</button>

      <button
          *ngIf="!isCreateFromLocalMode"
          mat-stroked-button
          color="accent"
          data-testid="anonymous-user-button"
          type="button"
          (click)="onProceed()"
        >{{ 'button_proceed_without_login' | translate }}</button>

      <button
          *ngIf="isCreateFromLocalMode"
          mat-stroked-button
          color="primary"
          data-testid="cancel-create-button"
          type="button"
          routerLink="/settings"
        >{{ 'button_cancel' | translate }}</button>
      </div>


        <button
          *ngIf="error"
          mat-stroked-button
          color="warn"
          data-testid="forgot-password-button"
          type="button"
          (click)="forgotPassword()"
        >{{ 'label_forgot_password' | translate }}</button>
    </div>
  </form>

  <div class="additional-links">
    <a [routerLink]="['/privacy_policy']" class="mat-tab-link">{{ 'label_privacy_policy' | translate }}</a>
  </div>
</div>
