<mat-card class="project-item" [ngClass]="isPassed ? 'obsolete' : isNew ? 'project-item--new' : ''">
  <mat-card-header class="project-item__header">
    <mat-card-title [routerLink]="[submission.id]">{{ submission.title }}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="mat-card-content">
      {{ (submission.description.length>300)? (submission.description | slice:0:300)+'...':(submission.description) }}
    </div>

    <div>
      <span>{{ submission.minCount }} - {{ submission.maxCount }} {{ submission.countEntity | translate }}</span>
    </div>

    <div *ngIf="submission.deadline" class="deadline">
      <i class="mat-icon material-icons">event</i>
      <time>{{ submission.deadline | date }}</time>
    </div>
  </mat-card-content>

  <mat-card-actions class="button-row" *ngIf="!isPassed || isAdmin">
    <button
      mat-raised-button
      color="primary"
      [routerLink]="[submission.id]"
      data-testid="project-detail-button"
    >
      {{'button_details' | translate}}
    </button>

    <button
      mat-icon-button
      name="favorite"
      matTooltip="{{(isFavorite ? 'tooltip_remove_favorite' : 'tooltip_add_favorite') | translate }}"
      class="wordlog-item__button"
      (click)="toggleFavorite()"
    >
      <mat-icon [ngClass]="isFavorite ? 'primary-color' : ''">favorite</mat-icon>
    </button>

    <button
      *ngIf="isAdmin"
      mat-raised-button
      color="primary"
      matTooltip="{{ 'button_edit' | translate }}"
      [routerLink]="[submission.id+'/edit']"
      data-testid="project-edit-button"
    >{{'button_edit' | translate}}</button>
  </mat-card-actions>

  <mat-card-content *ngIf="linkedProjects.length > 0">
    <div *ngFor="let project of linkedProjects" class="submission-project" [routerLink]="['/projects/'+project.id]">
      <i *ngIf="project.state.toString() === 'submitted'" class="mat-icon material-icons accent-color" matTooltip="{{ 'tooltip_submitted' | translate }}">mail</i>
      <i *ngIf="project.state.toString() !== 'submitted'" class="mat-icon material-icons">mail_outline</i>
      <span matTooltip="{{ 'tooltip_project' | translate }}">{{ project.workingTitle }}</span>
    </div>
  </mat-card-content>
</mat-card>
