<mat-card class="project-item">
  <mat-card-header class="project-item__header">
    <mat-card-title>{{ submission.title }}</mat-card-title>
    <mat-card-subtitle>{{ submission.publisher }}, {{ submission.genre }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div class="mat-card-content">
      <div *ngIf="submission.description"
           class="project-description"
           data-testid="project-description"
           [innerHTML]="submission.description"
      ></div>
    </div>

    <div *ngIf="submission.deadline" class="deadline" [ngClass]="isPassed ? 'obsolete' : ''">
      <i class="mat-icon material-icons">event</i>
      <span>{{ submission.deadline | date }}</span>
    </div>
  </mat-card-content>
  <mat-card-actions class="button-row">
    <button
      *ngIf="submission.link"
      mat-raised-button
      color="accent"
      (click)="openSubmission()"
      data-testid="project-detail-button"
    >{{'button_to_submission' | translate}}</button>

    <button
      mat-icon-button
      name="edit"
      matTooltip="{{(isFavorite ? 'tooltip_remove_favorite' : 'tooltip_add_favorite') | translate }}"
      class="wordlog-item__button"
      (click)="toggleFavorite()"
    >
      <mat-icon [ngClass]="isFavorite ? 'primary-color' : ''">favorite</mat-icon>
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="createProjectFromSubmission()"
      data-testid="project-detail-button"
    >{{'button_project_from_submission' | translate}}</button>

    <button
      *ngIf="isAdmin"
      mat-stroked-button
      color="primary"
      matTooltip="{{ 'button_edit' | translate }}"
      [routerLink]="[submission.id+'/edit']"
      data-testid="project-edit-button"
    >{{'button_edit' | translate}}</button>
  </mat-card-actions>
</mat-card>
