<mat-card>
  <h3>{{ publication.title }}</h3>
  <h2>{{ project.workingTitle }}</h2>

  <img *ngIf="publication.cover"
       alt="{{ publication.title }}"
       src="{{ publication.cover }}"
       data-testid="project-image"
  >

  <div class="publication-info">
    <a *ngIf="publication.link"
       href="{{ publication.link }}"
       matTooltip="{{ 'label_publication_link' | translate }}"
       class="mat-link"
    >
      <h4 *ngIf="publication.publisher">{{ publication.publisher }}<span *ngIf="publication.date"> - {{ publication.date }}</span></h4>
    </a>
    <a *ngIf="!publication.link" class="mat-link">
      <h4 *ngIf="publication.publisher">{{ publication.publisher }}<span *ngIf="publication.date"> - {{ publication.date }}</span></h4>
    </a>
  </div>
</mat-card>
