<app-header (sidenavToggle)="drawer.toggle()"></app-header>

<mat-drawer-container autosize class="drawer-container">
  <mat-drawer #drawer mode="side" class="drawer">
    <app-side-nav (sidenavClose)="drawer.close()"></app-side-nav>
  </mat-drawer>
</mat-drawer-container>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOpen]="isOffline"
  [cdkConnectedOverlayHasBackdrop]="true"
>
  <mat-card class="fullscreen-overlay">
    <mat-card-content class="content">
      {{ 'msg_offline' | translate }}
    </mat-card-content>
  </mat-card>
</ng-template>

<div style="min-height: 150vh;">
  <router-outlet></router-outlet>
</div>
