<mat-card class="project-item">
  <mat-card-header class="project-item__header">
    <mat-card-title [routerLink]="[project.id]">{{ project.workingTitle }}</mat-card-title>
    <mat-card-subtitle [ngClass]="project.isWorkInProgress ? 'project-wip' : ''">{{ project.state | translate }}</mat-card-subtitle>
    <span class="project-type">{{ project.type | translate }}</span>
  </mat-card-header>

  <mat-card-content>
    <div class="mat-card-content">
      {{ (project.description.length>150)? (project.description | slice:0:150)+'...':(project.description) }}
    </div>
  <app-project-progress-bar
    [goalCount]="project.goalCount"
    [currentCount]="project.currentCount"
    [maxGoalCount]="project.maxGoalCount"
    [entityKey]="project.countEntity"
  ></app-project-progress-bar>
  <img alt="{{ project.workingTitle}}" mat-card-image *ngIf="project.imagePath" [src]="project.imagePath">

  <div *ngIf="project.deadline" class="deadline" [ngClass]="isPassed ? 'obsolete' : ''">
    <i class="mat-icon material-icons">event</i>
    <span *ngIf="translationService.language === 'de'">{{ project.deadline | date : 'd.M.y' }}</span>
    <span *ngIf="translationService.language === 'en'">{{ project.deadline | date : 'M/d/y' }}</span>
  </div>

  <div *ngIf="project.subprojects && project.subprojects.length > 0">
    <ng-container *ngFor="let subproject of project.subprojects">
      <app-subproject-overview [subproject]="subproject"></app-subproject-overview>
    </ng-container>
  </div>

  </mat-card-content>

  <mat-card-actions class="button-row">
    <button
      mat-raised-button
      color="primary"
      [routerLink]="[project.id]"
      data-testid="project-detail-button"
    >{{'button_details' | translate}}</button>

    <button *ngIf="project.countEntity === eCountEntity.words"
      mat-raised-button
      color="primary"
      (click)="addToProject()"
      data-testid="project-words-button"
    >{{ 'button_add_words' | translate}}</button>

    <button *ngIf="project.countEntity === eCountEntity.characters"
      mat-raised-button
      color="primary"
      (click)="addToProject()"
      data-testid="project-characters-button"
    >{{ 'button_add_characters' | translate}}</button>

    <button *ngIf="project.countEntity === eCountEntity.pages"
      mat-raised-button
      color="primary"
      (click)="addToProject()"
      data-testid="project-pages-button"
    >{{ 'button_add_pages' | translate}}</button>

    <button
      mat-icon-button
      color="accent"
      matTooltip="{{ 'button_edit' | translate }}"
      [routerLink]="[project.id+'/edit']"
      data-testid="project-edit-button"
    ><mat-icon>edit</mat-icon>
    </button>

    <button
      mat-icon-button
      color="accent"
      matTooltip="{{ 'button_add_note' | translate }}"
      (click)="addNote()"
    ><mat-icon>note_add</mat-icon>
    </button>

    <app-take-action [project]="project"></app-take-action>

  </mat-card-actions>

</mat-card>
