<mat-toolbar class="bottom-toolbar" color="primary">
  <button *ngIf="settings.isAdmin"
    mat-raised-button
    color="primary"
    [routerLink]="['new']"
  ><i class="mat-icon material-icons">add</i>
    {{'button_new_submission' | translate}}</button>

  <div *ngIf="totalSubmissionsLength > 3" class="larger-xs">
    <span class="bottom-toolbar__text"><span *ngIf="totalSubmissionsLength !== displaySubmissionsLength">{{ displaySubmissionsLength }} / </span>{{ totalSubmissionsLength}} {{ 'label_submissions' | translate }}</span>
  </div>

  <div class="bottom-toolbar__actions">
    <a mat-button matTooltip="{{ 'tooltip_language' | translate }}" [matMenuTriggerFor]="hideMenu">
      <i class="mat-icon material-icons">{{ 'language' }}</i></a>
    <mat-menu #hideMenu="matMenu">
      <button mat-menu-item (click)="selectLang('*')">
        <i [ngClass]="settings.language === '*' ? '' : 'hidden'" class="mat-icon material-icons">check</i>
        {{ 'language_all' | translate }}</button>
      <button mat-menu-item (click)="selectLang('deutsch')">
        <i [ngClass]="settings.language === 'deutsch' ? '' : 'hidden'" class="mat-icon material-icons">check</i>
        {{ 'language_de' | translate }}</button>
      <button mat-menu-item (click)="selectLang('english')">
        <i [ngClass]="settings.language === 'english' ? '' : 'hidden'" class="mat-icon material-icons">check</i>
        {{ 'language_en' | translate }}</button>
    </mat-menu>
    <a mat-button matTooltip="{{ 'tooltip_passed_submissions' | translate }}"
       (click)="toggleHidePassed()"
    >
      <i class="mat-icon material-icons">
        {{ settings.isHidePassed ? 'visibility_off' : 'visibility' }}
      </i>
    </a>
    <a mat-button matTooltip="{{ 'filter_favorites' | translate }}"
       (click)="toggleFilterFavorites()"
    >
      <i class="mat-icon material-icons">
        {{ settings.filterFavorites ? 'favorite' : 'favorite_border' }}
      </i>
    </a>
  </div>
</mat-toolbar>
