<div class="content">

<h2>{{ 'label_privacy_policy' | translate }}</h2>

<ng-container *ngIf="this.translationService.language==='de'">
  <p>Die Nutzung des WordProgressors kann nach Wahl ausschließlich anonym erfolgen, oder – durch das Anlegen eines Kontos – die Verarbeitung personenbezogener Daten einschließen. Im Folgenden wird ein Überblick gegeben, in welcher Form und welchem Umfang diese Verarbeitung geschieht, sowie auf die Rechte hingewiesen, die nach der Europäischen Datenschutz-Grundverordnung (DSGVO) und dem Bundesdatenschutzgesetzt (BDSG) gewährt werden.</p>

  <p>Grundsätzlich wird zur Nutzung des Kontos und Authentifizierung des Nutzers die Email-Adresse verwendet. Weiterhin werden Analysedaten vom Browser erhoben, wie es bei jeder Webanwendung der Fall ist.</p>

  <p>Wenn Fragen oder Anregungen zu diesen Informationen bestehen oder ein Ansprechpartner für das Geltendmachen von Rechten benötigt wird, Anfragen bitte richten an</p>

  <p>Fenja Hanisch<br>
  Immenbarg 10<br>
  fenja.hanisch(at)web.de</p>


  <h3>Allgemeine Angaben zur Datenverarbeitung</h3>

  <p>Ich verarbeite personenbezogene Daten unter Beachtung der einschlägigen Datenschutzvorschriften, insbesondere der DSGVO und des BDSG. Eine Datenverarbeitung durch mich findet nur auf der Grundlage einer gesetzlichen Erlaubnis statt. Bei der Nutzung dieser Anwendung werden personenbezogene Daten nur mit Einwilligung verarbeitet (Art. 6 Abs. 1 Buchst. a) DSGVO). zur Erfüllung eines Vertrags, dessen Vertragspartei der Nutzer darstellt, oder auf dessen Anfrage zur Durchführung vorvertraglicher Maßnahmen (Art. 6 Abs. 1 Buchst. b) DSGVO), zur Erfüllung einer rechtlichen Verpflichtung (Art. 6 Abs. 1 Buchst c) DSGVO) oder wenn die Verarbeitung zur Wahrung meiner berechtigten Interessen oder den berechtigten Interessen eines Dritten erforderlich ist, sofern nicht die Interessen des Nutzers, seine Grundrecht und Grundfreiheiten, die den Schutz personenbezogener Daten erfordern, überwiegen.</p>

  <h3>Dauer der Speicherung</h3>

  <p>Sofern sich aus den folgenden Hinweisen nichts anderes ergibt, speichere ich die Daten nur so lange, wie es zur Erreichung des Verarbeitungszwecks oder für die Erfüllung meiner vertraglichen oder gesetzlichen Pflichten erforderlich ist. Solche gesetzlichen Aufbewahrungspflichten können sich insbesondere aus handels- oder steuerrechtlichen Vorschriften ergeben.</p>

  <h3>Verarbeitung von Server-Log-Files</h3>

  <p>Bei der anonymen Nutzung des WordProgressors werden zunächst automatisiert (also nicht über eine Registrierung) allgemeine Informationen gespeichert, die der Browser an den Server übermittelt. Hierzu zählen standardmäßig: Browsertyp/ -version, verwendetes Betriebssystem, die aufgerufene Seite, die zuvor besuchte Seite (Referrer URL), IP-Adresse, Datum und Uhrzeit der Serveranfrage und http-Statuscode. Die Verarbeitung erfolgt zur Wahrung meiner berechtigten Interessen und beruht auf der Rechtsgrundlage des Art. 6 Abs. 1 Buchst. f) DSGVO. Diese Verarbeitung dient der technischen Verwaltung und der Sicherheit der Webseite. Die gespeicherten Daten werden gelöscht, wenn nicht aufgrund konreter Anhaltspunkte ein berechtigter Verdacht auf eine rechtswidrige Nutzung besteht und eine weitere Prüfung und Verarbeitung der Informationen aus diesem Grund erforderlich ist.</p>

  <h3>Sicherheit der Datenverarbeitung</h3>

  <p>Um personenbezogene Daten zu schützen wurden sowohl technische, als auch organisatorische Maßnahmen umgesetzt. Wo es möglich ist werden personenbezogene Daten pseudonymisiert oder verschlüsselt. Dadurch wird es im Rahmen meiner Möglichkeiten erschwert, dass Dritte aus meinen Daten auf persönliche Informationen schließen können.</p>

  <h3>Kommunikation</h3>

  <p>Bei der Kontaktaufnahme zu mir per Email oder Online-Formular kann es zur Verarbeitung personenbezogener Daten kommen.</p>
  <p>Die Daten werden für die Abwicklung und Bearbeitung der Frage und des damit zusammenhängenden Geschäftsvorgangs verarbeitet. Die Daten werden ebensolange gespeichert bzw. so lange es das Gesetz vorschreibt.</p>

  <h3>Warum werden personenbezogene Daten verarbeitet?</h3>

  <p>Für das Anlegen eines Benutzerkontos ist es notwendig, dass der Nutzer sich authentifiziert. Aus Sicherheitsgründen geschieht dies über eine Email-Adresse, die bestätigt werden muss, bzw. einen Drittanbieter, der OpenID zur Verfügung stellt.</p>
  <p>Einem authentifizierten Nutzer wird Zugriff auf von ihm erstellte Daten gewährt. Es ist im Interesse des Benutzers, in den zur Verfügung gestellten Freitext-Feldern, keine weiteren, personenbezogenen Daten einzutragen.</p>

  <h3>Firebase</h3>

  <p>Der WordProgressor nutzt Firebase von Google, um Nutzer zu authentifizieren und vom Nutzer erstellte Daten abzuspeichern.</p>
  <p>Die Datenschutzerklärung von Google kann <a href="https://policies.google.com/privacy">hier</a> eingesehen werden.</p>
  <p>Der Speicherort der Datenbank ist Belgien (europe-west1).</p>


  <h3>Rechte des Nutzers</h3>

  <p>Als betroffene Person hat der Nutzer das Recht, mir gegenüber Betroffenenrechte geltend zu machen. Dabei greifen insbesondere die folgenden Rechte:</p>
  <ol>
  <li>Nach Maßgabe des Art. 15 DSGVO und § 34 BDSG besteht das Recht, Auskunft darüber zu verlangen, ob und ggf. in welchem Umfang ich personenbezogene Daten zur Anfragenden Person verarbeite oder nicht.</li>
  <li>Nach Maßgabe des Art. 16 DSGVO besteht das Recht die Daten berichtigen zu lassen.</li>
  <li>Nach Maßgabe des Art. 17 DSGVO und § 35 BDSG kann die Löschung der personenbezogenen Daten verlangt werden.</li>
  <li>Nach Maßgabe des Art. 18 DSGVO besteht das Recht, die Verarbeitung der personenbezogenen Daten des Nutzers einschränken zu lassen.</li>
  <li>Nach Maßgabe des Art. 20 DSGVO besteht das Recht, die den Nutzer betreffenden personenbezogenen Daten, die mir bereitgestellt wurden, in einem strukturierten, gängigen und maschinenlesbaren Format zu erhalten, und diese Daten einem anderen Verantwortlichen zu übermitteln. Die Daten liegen mir im JSON-Format vor und können entsprechend erhalten werden.</li>
  <li>Nach Maßgabe des Art. 21 Abs. 1 DSGVO besteht das Recht, gegen jede Verarbeitung, die auf der Rechtsgrundlage des Art. 6 Abs. 1 Buchst. e) oder f) DSGVO beruht, Widerspruch einzulegen. Sofern durch mich personenbezogene Daten über den Nutzer zum Zweck der Direktwerbung verarbeitet werden, kann gegen diese Verarbeitung gem. Art. 21 Abs. 2 und Abs. 3 DSGVO Widerspruch eingelegt werden.</li>
  </ol>

  <p>Sofern eine gesonderte Einwilligung in die Datenverarbeitung erteilt wurde, kann diese nach Maßgabe des Art. 7 Abs. 3 DSGVO jederzeit widerrufen werden. Durch einen solchen Widerruf wird die Rechtmäßigkeit der Verarbeitung, die bis zum Widerruf aufgrund der Einwilligung erfolgt ist, nicht berührt.</p>

  <h3>Beschwerde bei einer Aufsichtsbehörde</h3>

  <p>Wenn der Nutzer der Ansicht ist, dass eine Verarbeitung der ihn betreffenden, personenbezogenen Daten gegen die Bestimmungen der DSGVO verstößt, hat er nach Maßgabe des Art. 77 DSGVO das Recht auf Beschwerde bei einer Aufsichtsbehörde.</p>
</ng-container>


<ng-container *ngIf="this.translationService.language==='en'">
  <p>The WordProgressor can be used exclusively anonymous or - by creating an account - include the processing of personal data. I will give an overview on the form and scope which is used by processing, as well as direct to the rights given by the european General Data Protection Regulation (GDPR, german DSGVO) and the german Federal Data Protection Act (BDSG).</p>

  <p>To authenticate the user to make use of his account, his email address is used. Additionally the browser will track data for analysis, as it does for any web application.</p>

  <p>In case of questions or suggestions regarding this information or there is need for a contact to make use of the rights given, please contact the developer:</p>

  <p>Fenja Hanisch<br>
  Immenbarg 10<br>
  fenja.hanisch(at)web.de</p>


  <h3>General information regarding data processing</h3>

  <p>I process personal data by taking care of the relevant regulations for data protection, especially the GDPR and the BDSG. My data procession is proceeded only based on a legal permission. When using this application, personal data will only be used when permission is given (Art. 6 Abs. 1 Buchst. a) DSGVO), to fulfill a contract whose contract party is represented by the user, or when requested by him to process policies concerning the contract (Art. 6 Abs. 1 Buchst. b) DSGVO), to fulfill a legal commitment (Art. 6 Abs. 1 Buchst c) DSGVO) or if the procession is required to protect my legitimate interests or the legitimate interests of a third party, if it does not overthrow the users interests, his basic rights and right of freedom, that are needed to protect personal data.</p>

  <h3>Duration of data storage</h3>

  <p>If not specified in more detail, data is stored as long as it is needed to reach their purpose of treatment or the purpose to fulfill my contract or legal duties. Legal duties of storage may grow from instructions of law of trade or taxation.</p>

  <h3>Processing server log files</h3>

  <p>When using the WordProgressor anonymously, the browser automatically transfers general information to the server (that is without any registration). This includes by default: browser type and version, operating system, the page requested, the page visited before (referer URL), IP address, date and time of the server request, as well as the http response code. The procession is justified through my legal interests and based on the legal law of Art. 6 Abs. 1 Buchst. f) DSGVO. This procession is needed for technical administration and the web applications security. Saved data will be deleted, when there is no actual reason to suspect an illegal performance that would require additional examination an procression of the informations for this very reason.</p>

  <h3>Security of data procession</h3>

  <p>To protect personal data, technical and organizational requirements are fulfilled. Whenever possible, personal data is encrypted or de-personalized. This - in the scope of my possibilites - hinders third parties to gain access from my data to personal informations from the user.</p>

  <h3>Communication</h3>

  <p>During contact to me via email or form, personal data may be processed.</p>
  <p>The data will be processed to answer and execute the requests and connected business processes. Data will be saved as long as needed or as legally required.</p>

  <h3>Why is personal data processed?</h3>

  <p>To create a user account it is required, that the user authenticates himself. For security reasons, this is done via the email address, that needs to be verified or using a third party open id authentication.</p>
  <p>An authenticated user gains access to data, created by himself. It is within the users interest to not include personal or sensitive data into the free form text inputs, as they are no further secured.</p>

  <h3>Firebase</h3>

  <p>WordProgressor uses Googles Firebase, to authenticate users and to save user generated content.</p>
  <p>Google privacy policy can be read <a href="https://policies.google.com/privacy">here</a>.</p>
  <p>The database storage is located in belgium (europe-west1).</p>


  <h3>User rights</h3>

  <p>Being the affected person, the user is permitted to grant his rights against me. Especially the following rights find practice:</p>
  <ol>
  <li>Requirement of Art. 15 DSGVO and § 34 BDSG grant the right to ask for disclorsure about whether and in which scope I process their personal data.</li>
  <li>Requirement of Art. 16 DSGVO grants the right to correct the personal data.</li>
  <li>Requirement of Art. 17 DSGVO and § 35 BDSG grant the right to delete the personal data.</li>
  <li>Requirement of Art. 18 DSGVO grants the right to limit the procession of the users personal data.</li>
  <li>Requirement of Art. 20 DSGVO grants the right to let me provide the personal, saved data in a structured, standardized and machine readable format, to allow the transfer to a third party accountant. The information is stored in JSON format and can be provided accordingly.</li>
  <li>Requirement of Art. 21 Abs. 1 DSGVO grants the right to protest against any processing, based on the legal law of Art. 6 Abs. 1 Buchst. e) or f) DSGVO. If I allow personal user data to be used by a third party to perform direct advertisement, this can be protested based on Art. 21 Abs. 2 and Abs. 3 DSGVO.</li>
  </ol>

  <p>If there has been a seperate permission to process the data, this can be revocated at any time, granted by Art. 7 Abs. 3 DSGVO. This revocation does not violate the legality of the data procession til the time of revocation, as it does not affect the permission granted until then.</p>

  <h3>Complain at a surveillance authority</h3>

  <p>If, in the users optinion, the processing of his personal data violates the requirements of the DSGVO, he is able to file a complaint at the surveillance authority, according to requirement of Art. 77 DSGVO.</p>
</ng-container>
</div>
