<div mat-dialog-content>

  <div>{{ 'label_forgot_password' | translate }}</div>

  <mat-form-field>
    <mat-label data-test-id="email-input-label">{{ 'label_email' | translate }}</mat-label>
    <input
      matInput
      type="email"
      name="email"
      class="form-control"
      data-testid="email-input"
      required
      #email
    >
  </mat-form-field>

  <div mat-dialog-actions>
    <button mat-raised-button color="accent" (click)="close()">{{ 'button_cancel' | translate }}</button>
    <button mat-raised-button color="primary" [disabled]="!email.checkValidity()" (click)="sendNewPasswordTo(email.value)">{{ 'button_send_reset_mail' | translate }}</button>
  </div>

</div>
