<div class="content">
  <h2 data-testid="project-title">{{ project.workingTitle }}</h2>
  <div class="mat-card-subtitle">
    <span>{{ project.type | translate }}</span>  -  <span>{{ project.state | translate }}</span>
  </div>

  <div *ngIf="project.description" class="project-description" data-testid="project-description">
    {{ project.description }}
  </div>

  <img
    alt="{{ project.workingTitle }}"
    *ngIf="project.imagePath"
    src="{{ project.imagePath }}"
    data-testid="project-image"
  >

  <div
    *ngIf="project.goalCount > 0 || project.currentCount > 0"
    data-testid="word-progress-container"
  >
    <h4>{{ 'headline_word_count' | translate }}</h4>
    <app-project-progress-bar
      [goalCount]="project.goalCount"
      [currentCount]="project.currentCount"
      [maxGoalCount]="project.maxGoalCount"
    ></app-project-progress-bar>
  </div>

  <div *ngIf="project.deadline" class="deadline">
    <i class="mat-icon material-icons">event</i>
    <span>{{ project.deadline | date }}</span>
  </div>
</div>

<div class="content" *ngIf="project.wordLogs">
  <h3>{{ 'label_word_logs' | translate }}</h3>
  <ol>
    <li *ngFor="let log of project.wordLogs">
      <span>{{ log.date | date}}</span> - <span>{{ log.words }} {{ project.countEntity | translate }}</span>
    </li>
  </ol>
</div>

<div class="content">
  <div class="button-row">
    <button
      mat-raised-button
      color="primary"
      [routerLink]="['/projects/'+id+'/edit']"
      data-testid="project-edit-button"
    >{{ 'button_edit' | translate }}</button>
    <button
      mat-raised-button
      color="primary"
      (click)="addWords()"
      data-testid="project-words-button"
    >{{ 'button_add_words' | translate }}</button>
    <button
      mat-stroked-button
      color="warn"
      (click)="deleteProject()"
      data-testid="project-delete-button"
    >{{ 'button_delete' | translate }}</button>
  </div>
</div>
