<div class="content">
  <h2 data-testid="project-title">{{ project.workingTitle }}</h2>
  <div class="mat-card-subtitle">
    <span>{{ project.type | translate }}</span><span *ngIf="project.genre" > - {{ project.genre }}</span>  -  <span>{{ project.state | translate }}</span><span *ngIf="project.isWorkInProgress" class="project-wip"> - {{ 'label_wip' | translate }}</span>

  </div>

  <div *ngIf="project.description" class="project-description" data-testid="project-description">
    {{ project.description }}
  </div>

  <img
    alt="{{ project.workingTitle }}"
    *ngIf="project.imagePath"
    src="{{ project.imagePath }}"
    data-testid="project-image"
  >

  <div
    *ngIf="project.goalCount > 0 || project.currentCount > 0"
    data-testid="word-progress-container"
  >
    <h4>{{ 'headline_word_count' | translate }}</h4>
    <app-project-progress-bar
      [goalCount]="project.goalCount"
      [currentCount]="project.currentCount"
      [maxGoalCount]="project.maxGoalCount"
    ></app-project-progress-bar>
  </div>

  <div *ngIf="project.deadline" class="deadline">
    <i class="mat-icon material-icons">event</i>
    <span>{{ project.deadline | date }}</span>
  </div>
</div>


<div class="content" *ngIf="project.reward">
  <h3>{{ 'label_reward' | translate }}</h3>
  <div>{{ project.reward }}</div>
</div>

<div class="content" *ngIf="project.eventLink">
  <h3>{{ 'label_event' | translate }}</h3>
  <div>{{ project.eventLink }}</div>
</div>

<div class="content" *ngIf="project.wordLogs">
  <h3>{{ 'label_logs' | translate }}</h3>
  <ol>
    <li *ngFor="let log of project.wordLogs">
      <span>{{ log.date | date}}</span> - <span>{{ log.words }} {{ project.countEntity | translate }}</span>
    </li>
  </ol>
</div>

<div class="content" *ngIf="project.notes">
  <h3>{{ 'label_notes' | translate }}</h3>
  <ol>
    <li *ngFor="let note of project.notes">
      <span>{{ note.content }}</span>
    </li>
  </ol>
</div>

<div class="content">
  <div class="button-row">
    <button *ngIf="project.countEntity === eCountEntity.words"
            mat-raised-button
            color="primary"
            (click)="addToProject()"
            data-testid="project-words-button"
    >{{ 'button_add_words' | translate}}</button>

    <button *ngIf="project.countEntity === eCountEntity.characters"
            mat-raised-button
            color="primary"
            (click)="addToProject()"
            data-testid="project-characters-button"
    >{{ 'button_add_characters' | translate}}</button>

    <button *ngIf="project.countEntity === eCountEntity.pages"
            mat-raised-button
            color="primary"
            (click)="addToProject()"
            data-testid="project-pages-button"
    >{{ 'button_add_pages' | translate}}</button>

    <button
      mat-raised-button
      color="primary"
      [routerLink]="['/projects/'+id+'/edit']"
      data-testid="project-edit-button"
    >{{ 'button_edit' | translate }}</button>

    <button
            mat-raised-button
            color="accent"
            (click)="addNote()"
            data-testid="project-notes-button"
    >{{ 'button_add_note' | translate}}</button>

    <button
      mat-stroked-button
      color="warn"
      (click)="deleteProject()"
      data-testid="project-delete-button"
    >{{ 'button_delete' | translate }}</button>

    <button
      mat-stroked-button
      color="primary"
      [routerLink]="['/projects']"
      data-testid="project-cancel-button"
    >{{ 'button_cancel' | translate }}</button>
  </div>
</div>
