<div mat-dialog-content>

  <!-- Further Input like time or duration to feed statistics -->
  <div *ngIf="!validProject">
    <span>{{ 'info_invalid_project' | translate }}</span>
    <div mat-dialog-actions style="height: 5em">
      <button mat-stroked-button color="accent" (click)="close()">{{ 'button_close' | translate }}</button>
    </div>
  </div>

  <div *ngIf="validProject">
    <mat-form-field color="primary">
      <mat-label>{{'label_date' | translate }}</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        name="deadline"
        class="form-control"
        data-testid="deadline-picker"
        [(ngModel)]="date"
      >
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <mat-tab-group *ngIf="validProject">
    <mat-tab label="{{ 'headline_total_words' | translate }}">
      <form>
        <mat-form-field
          class="example-full-width"
          color="primary"
        >
          <input
            type="number"
            name="currentWordcount"
            data-testid="current-wordcount-input"
            matInput
            class="form-control"
            [(ngModel)]="data.project.currentWordcount"
          >
        </mat-form-field>

      </form>
      <div mat-dialog-actions style="height: 5em">
        <button mat-stroked-button color="accent" (click)="close()">{{ 'button_cancel' | translate }}</button>
        <button mat-raised-button color="primary" (click)="updateCurrentWords()">{{ 'button_update_word_count' | translate }}</button>
      </div>
    </mat-tab>


    <mat-tab label="{{'headline_new_words' | translate}}">

      <form>
        <mat-form-field
          class="example-full-width"
          color="primary"
        >
          <input
            matInput
            value="0"
            type="number"
            class="form-control"
            #newWordsInput
          />
        </mat-form-field>
      </form>

      <div mat-dialog-actions style="height: 5em">
        <button mat-stroked-button color="accent" (click)="close()">{{'button_cancel' | translate}}</button>
        <button mat-raised-button color="primary" (click)="addWords(+newWordsInput.value)">{{'button_add_words' | translate}}</button>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
