<div *ngIf="isLoading" class="loader"></div>

<ng-container *ngIf="!isLoading">
  <mat-card id="info" class="dashboard-item">
    <app-citation [newUser]="isNewUser"></app-citation>
  </mat-card>

  <mat-card *ngIf="wips.length > 0" id="wips" class="dashboard-item">
    <mat-card-header class="dashboard-item__header">
      {{ 'label_works_in_project' | translate }}
    </mat-card-header>
    <mat-card-content>
      <div *ngFor="let project of wips">
        <hr>
        <app-project-overview
          [project]="project"
        ></app-project-overview>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="nextSubmissions.length > 0" id="submissions" class="dashboard-item">
    <mat-card-header class="dashboard-item__header">
      {{ 'label_next_submission_deadlines' | translate }}
    </mat-card-header>
    <mat-card-content>
      <hr>
      <div *ngFor="let submission of nextSubmissions">
        {{ submission.title }} <span class="deadline">{{ submission.deadline | date }}</span>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card id="wordsToday" class="dashboard-item">
    <a [routerLink]="['/settings']" class="mat-card-title mat-link">
      {{ 'label_words_today' | translate }}
    </a>
    <mat-card-content>
      <div class="mat-card-title" [ngClass]="metGoal ? 'accent-color' : 'primary-color'">{{ wordsToday }} <span class="goal" *ngIf="wordGoalDaily">/ {{ wordGoalDaily }}</span></div>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="userWordLogs && userWordLogs.length > 0" id="weekWordsStatistic" class="dashboard-item">
    <mat-card-header class="dashboard-item__header">
      {{ 'label_words_statistic' | translate }}
    </mat-card-header>
    <mat-card-content>
      <app-barchart [wordLogs]="lastWeeksLogs" [dailyGoal]="wordGoalDaily"></app-barchart>
    </mat-card-content>
  </mat-card>

  <!-- <mat-card *ngIf="userWordLogs && userWordLogs.length > 0" id="monthWordsStatistic" class="dashboard-item">
    <mat-card-header class="dashboard-item__header">
      {{ 'label_words_statistic' | translate }}
    </mat-card-header>
    <mat-card-content>
      <app-barchart [wordLogs]="lastMonthLogs" [dailyGoal]="wordGoalDaily"></app-barchart>
    </mat-card-content>
  </mat-card> -->

  <mat-card id="states" class="dashboard-item">
    <!--<mat-card-header>
      {{ 'label_project_state_overview' | translate }}
    </mat-card-header>-->
    <mat-card-content>
      <h4>{{ 'headline_projects_states' | translate }}</h4>
      <div *ngFor="let project of projectsInSuperState | keyvalue">
        <span>{{ project.key | translate}} {{ project.value }}</span>
      </div>
      <hr>

      <h4>{{ 'headline_projects_types' | translate }}</h4>
      <div *ngFor="let project of projectsInType | keyvalue">
        <span>{{ project.key | translate}} {{ project.value }}</span>
      </div>
      <hr>

      <h4>{{ 'headline_total_words' | translate }}: {{ totalWords }}</h4>
      <h4>{{ 'headline_total_projects' | translate }}: {{ totalProjects }}</h4>
    </mat-card-content>
  </mat-card>

  <mat-card id="wordLogs" class="dashboard-item" *ngIf="userWordLogs">
    <mat-card-header>
      {{ 'label_logs' | translate }}
    </mat-card-header>
    <mat-card-content class="small-center">
      <app-wordlog-list [wordLogs]="userWordLogs" [numEntries]="10"></app-wordlog-list>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="showInstallPWA" class="dashboard-item">
    <button mat-raised-button
            color="accent"
      (click)="installPWA()"
    >{{ 'label_install_pwa' | translate }}</button>
  </mat-card>
</ng-container>
<!-- <app-dashboard-footer></app-dashboard-footer> -->
