<div *ngIf="goalCount > 0" class="progress-bars__container">
  <div class="progress-bars">
    <mat-progress-bar *ngIf="maxGoalCount"
      mode="determinate"
      value="{{ percentageMaxDone }}"
      [color]="(percentageMaxDone > 100) ? 'warn' : 'accent'"
      aria-label="progress"
      class="progress-bars__max-range"
    ></mat-progress-bar>

    <mat-progress-bar *ngIf="goalCount"
      mode="determinate"
      value="{{ percentageDone }}"
      [color]="(percentageDone >= 100) ? 'accent' : 'primary'"
      aria-label="progress"
      [style]="'width: ' + firstBarWidthPercent +'%;'"
    ></mat-progress-bar>

  </div>
  <span
    *ngIf="!barOnly"
    data-testid="project-word-count"
    class="progress-bars__label"
  >{{ currentCount }} / {{ goalCount }}<span *ngIf="maxGoalCount">-{{ maxGoalCount }}</span> {{ entityKey | translate }}</span>
</div>

<div *ngIf="(goalCount === 0 && currentCount > 0 && !barOnly)">
  <span data-testid="project-current-count">{{ currentCount }} {{ entityKey | translate }}</span>
</div>
