<mat-toolbar class="bottom-toolbar" color="primary">
    <button
      mat-raised-button
      color="primary"
      [routerLink]="['new']"
    ><i class="mat-icon material-icons">add</i>
      {{'button_new_project' | translate}}</button>

    <div class="bottom-toolbar__actions">
      <a mat-button matTooltip="{{ 'tooltip_wip' | translate }}" (click)="toggleWip()">
        <i class="mat-icon material-icons">{{ userService.showOnlyWip ? 'work' : 'work_outline' }}</i></a>
      <!--<a mat-button matTooltip="{{ 'tooltip_sort_deadline' | translate }}" (click)="toggleSortByDeadline()">
        <i class="mat-icon material-icons">{{ userService.isSortByDeadline ? 'event' : 'calendar_today' }}</i></a>-->

      <!--<a mat-button matTooltip="{{ 'tooltip_sort' | translate }}">
        <i class="mat-icon material-icons">sort</i></a>
      <a mat-button matTooltip="{{ 'tooltip_filter' | translate }}">
        <i class="mat-icon material-icons">filter_alt</i></a>
      <a mat-button matTooltip="{{ 'tooltip_search' | translate }}">
        <i class="mat-icon material-icons">search</i></a>-->
    </div>
</mat-toolbar>
