<mat-toolbar class="bottom-toolbar" color="primary">
    <button
      mat-raised-button
      color="primary"
      [routerLink]="['new']"
    ><i class="mat-icon material-icons">add</i>
      {{'button_new_project' | translate}}</button>

    <div *ngIf="totalProjectsLength > 3" class="larger-xs">
      <span class="bottom-toolbar__text"><span *ngIf="totalProjectsLength !== displayProjectsLength">{{ displayProjectsLength }} / </span>{{ totalProjectsLength}} {{ 'label_projects' | translate }}</span>
    </div>

    <div class="bottom-toolbar__actions">
      <a mat-button matTooltip="{{ 'tooltip_hide_inactive' | translate }}" [matMenuTriggerFor]="hideMenu">
        <i class="mat-icon material-icons">{{ isHideActive ? 'visibility' : 'visibility_off' }}</i></a>
      <mat-menu #hideMenu="matMenu">
        <button mat-menu-item (click)="hide('published')">
          <i [ngClass]="settings.isHidePublished ? '' : 'hidden'" class="mat-icon material-icons">check</i>
          {{ 'hide_published' | translate }}</button>
        <button mat-menu-item (click)="hide('finished')">
          <i [ngClass]="settings.isHideFinished ? '' : 'hidden'" class="mat-icon material-icons">check</i>
          {{ 'hide_finished' | translate }}</button>
        <button mat-menu-item (click)="hide('abandoned')">
          <i [ngClass]="settings.isHideAbandoned ? '' : 'hidden'" class="mat-icon material-icons">check</i>
          {{ 'hide_abandoned' | translate }}</button>
        <button mat-menu-item (click)="hide('submitted')">
          <i [ngClass]="settings.isHideSubmitted ? '' : 'hidden'" class="mat-icon material-icons">check</i>
          {{ 'hide_submitted' | translate }}</button>
      </mat-menu>

      <a mat-button matTooltip="{{ 'tooltip_filter' | translate }}" [matMenuTriggerFor]="filterMenu">
        <i class="mat-icon material-icons">{{ isFilterActive ? 'filter_alt' : 'filter_alt_off' }}</i></a>
      <mat-menu #filterMenu="matMenu">
        <button mat-menu-item (click)="applyFilter('all')">
          <i class="mat-icon material-icons obsolete">done_all</i>
          {{ 'filter_all' | translate }}</button>
        <hr>
        <button mat-menu-item (click)="applyFilter('wip')">
          <i [ngClass]="settings.filterWip ? '' : 'hidden'" class="mat-icon material-icons">check</i>
          {{ 'filter_wip' | translate }}</button>
        <button mat-menu-item (click)="applyFilter('subprojects')">
          <i [ngClass]="settings.filterSubprojects ? '' : 'hidden'" class="mat-icon material-icons">check</i>
          {{ 'filter_subprojects' | translate }}</button>
        <button mat-menu-item (click)="applyFilter('deadline')">
          <i [ngClass]="settings.filterDeadline ? '' : 'hidden'" class="mat-icon material-icons">check</i>
          {{ 'filter_deadline' | translate }}</button>
      </mat-menu>

      <a mat-button matTooltip="{{ 'tooltip_sort' | translate }}" [matMenuTriggerFor]="sortMenu">
        <i class="mat-icon material-icons">{{ isSortActive ? 'filter_list' : 'filter_list_off' }}</i></a>
      <mat-menu #sortMenu="matMenu">
        <button mat-menu-item (click)="applySort('alphabet')">
          <i [ngClass]="settings.isSortAlphabetical ? '' : 'hidden'" class="mat-icon material-icons">check</i>
          {{ 'sort_alphabetical' | translate }}</button>
        <button mat-menu-item (click)="applySort('deadline')">
          <i [ngClass]="settings.isSortByDeadline ? '' : 'hidden'" class="mat-icon material-icons">check</i>
          {{ 'sort_deadline' | translate }}</button>
        <button mat-menu-item (click)="applySort('update')">
          <i [ngClass]="settings.isSortByUpdate ? '' : 'hidden'" class="mat-icon material-icons">check</i>
          {{ 'sort_update' | translate }}</button>
      </mat-menu>

      <!--
      <a mat-button matTooltip="{{ 'tooltip_search' | translate }}">
        <i class="mat-icon material-icons">search</i></a>-->
    </div>
</mat-toolbar>
