@use '~@angular/material' as mat;
@import '~@angular/material/theming';
@include mat.core();

$angular-primary: mat.define-palette(mat.$deep-purple-palette);
$angular-accent: mat.define-palette(mat.$amber-palette);
$angular-warn: mat.define-palette(mat.$red-palette);

$angular-default-theme: mat.define-light-theme((
      color: (
        primary: $angular-primary,
        accent: $angular-accent,
        warn: $angular-warn,
      )));

$angular-dark-theme: mat.define-dark-theme((
      color: (
        primary: $angular-primary,
        accent: $angular-accent,
        warn: $angular-warn,
      )));

@media (prefers-color-scheme: light) {
  @include mat.all-component-colors($angular-default-theme);
}

@media (prefers-color-scheme: dark) {
  @include mat.all-component-colors($angular-dark-theme);
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button.mat-button-base{
  margin: 0.2em;
}

:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.spacer {
  flex: 1 1 auto;
}

.hidden {
  visibility: hidden;
}

ul {
  list-style: none;
  float: left;
  display: flex;
}

.center-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.form-group {
  margin: 1em;
  padding: 1em;

  mat-form-field {
    padding: 0.5em;
  }
}

.alert {
  margin: 1em;
  padding: 1em;
}

.content{
  margin: 1em;
  padding: 1em;
}

.project-item {
  margin: 1em;
  padding: 1em;

  &__header {
    width: 100%;

    .project-type {
      position: absolute;
      right: 1em;
      // TODO accent color
    }
  }
}

.project-list {
  padding-bottom: 3em;
}

.project-description {
  margin: 1em 0 2em 0;
}

.project-wip::after {
  font-family: 'Material Icons', serif;
  content: "work";
  -webkit-font-feature-settings: 'liga';
  vertical-align: middle;
  padding-left: 0.3em;
}

.additional-links {
  position: absolute;
  bottom: 0;
  padding: 1em;
}

.bottom-toolbar {
  position: fixed;
  bottom: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  padding: 1.5em;

  button {
    display: flex;
    flex-direction: column;

    &:hover {
      background-color: #FFC107; //TODO
    }
  }

  &__icons {
    display: flex;

    button {
      display: flex;
      flex-direction: column;
    }
  }
}

.progress-bars {
  position: relative;

  &__container {
    position: relative;
    height: 3em;
  }

  &__label {
    position: absolute;
    bottom: 0;
  }

  .mat-progress-bar {
    height: 1em;
    position: absolute;
    border-radius: 0.5em;
  }
}

.deadline {
  float: right;

  i, span {
    vertical-align: middle;
    padding-left: 0.3em;
  }
}

.mat-dialog-content {
  overflow: inherit !important;
}

.mat-card-header-text {
  margin: 0 !important;
}

svg g {
  .wp_background {
    fill: rebeccapurple !important;
  }
  .wp_p {
    fill: #FFC107 !important;
  }
  .wp_w {
    fill: white;
  }
}

