@use '@angular/material' as mat;

@include mat.core();

$primary-palette: (
  50: var(--primary-color),
  100: var(--primary-color),
  200: var(--primary-color),
  300: var(--primary-color),
  400: var(--primary-color),
  500: var(--primary-color),
  600: var(--primary-color),
  700: var(--primary-color),
  800: var(--primary-color),
  900: var(--primary-color),
  A100: var(--primary-color),
  A200: var(--primary-color),
  A400: var(--primary-color),
  A700: var(--primary-color),
  contrast: (
    50: var(--text-color),
    100: var(--text-color),
    200: var(--text-color),
    300: var(--text-color),
    400: var(--text-color),
    500: var(--text-color),
    600: var(--text-color),
    700: var(--text-color),
    800: var(--text-color),
    900: var(--text-color),
    A100: var(--text-color),
    A200: var(--text-color),
    A400: var(--text-color),
    A700: var(--text-color),
  )
);
$accent-palette: (
  50: var(--accent-color),
  100: var(--accent-color),
  200: var(--accent-color),
  300: var(--accent-color),
  400: var(--accent-color),
  500: var(--accent-color),
  600: var(--accent-color),
  700: var(--accent-color),
  800: var(--accent-color),
  900: var(--accent-color),
  A100: var(--accent-color),
  A200: var(--accent-color),
  A400: var(--accent-color),
  A700: var(--accent-color),
  contrast: (
    50: var(--background-color),
    100: var(--background-color),
    200: var(--background-color),
    300: var(--background-color),
    400: var(--background-color),
    500: var(--background-color),
    600: var(--background-color),
    700: var(--background-color),
    800: var(--background-color),
    900: var(--background-color),
    A100: var(--background-color),
    A200: var(--background-color),
    A400: var(--background-color),
    A700: var(--background-color),
  )
);

$custom-primary: mat.define-palette($primary-palette, 500);
$custom-accent: mat.define-palette($accent-palette, 500);
$angular-warn: mat.define-palette(mat.$red-palette);

$angular-default-theme: mat.define-light-theme((
      color: (
        primary: $custom-primary,
        accent: $custom-accent,
        warn: $angular-warn,
      )));

$angular-dark-theme: mat.define-dark-theme((
      color: (
        primary: $custom-primary,
        accent: $custom-accent,
        warn: $angular-warn,
      )));

@media (prefers-color-scheme: light) {
  @include mat.all-component-colors($angular-default-theme);
  :root {
    --text-color: #000000;
  }

  .mat-card {
    background-color: rgba(255,255,255, .4);
  }
}

@media (prefers-color-scheme: dark) {
  @include mat.all-component-colors($angular-dark-theme);
  :root {
    --text-color: #ffffff;
  }

  .mat-card {
    background-color: rgba(0,0,0, .4);
  }
}

@media screen and (max-width: 600px) {
  .xs-only {
    display: block;
  }

  .larger-xs {
    display: none;
  }

  .subproject-overview {

    &__name {
      width: 100%;
      margin-bottom: .2em;
    }

    &__progress {
      width: 100%;
    }
  }

  mat-drawer-container.drawer-container {
    height: 21em;
  }

  .customization-card {
    flex-flow: column;
  }
}

@media screen and (min-width: 601px) {
  .xs-only {
    display: none;
  }

  .larger-xs {
    display: flex;
  }

  .subproject-overview {
    height: 3em;

    &__name {
      width: 20%;
      float: left;
    }

    &__progress {
      float: right;
      width: 78%;
    }
  }

  mat-drawer-container.drawer-container {
    height: 7em;
  }

  .customization-card {
    flex-flow: row;
  }
}


html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: var(--text-size);
  line-height: var(--line-spacing);
}

.mat-app-background {
  background-color: var(--background-color);
}

.mat-drawer {
  background-color: var(--background-color);

  .mat-link {
    color: var(--text-color);
    font-size: var(--text-size);
    line-height: var(--line-spacing);
  }
}

.mat-card, .content, .mat-toolbar {
  color: var(--text-color);
  font-size: var(--text-size);
  line-height: var(--line-spacing);

  .mat-card-content,
  .mat-raised-button,
  .mat-link,
  .project-description
  {
    font-size: var(--text-size);
    line-height: var(--line-spacing);
  }

  .mat-raised-button {
    padding: 0.7rem;
  }

  h2, h3,h4 {
    color: var(--text-color);
  }

  h4 {
    font-size: large;
    font-weight: bold;
  }
  h3, .mat-card-title {
    font-size: x-large;
    font-weight: bolder;
  }
  h2 {
    font-size: xx-large;
    font-weight: bolder;
  }

  .mat-card-subtitle, .project-type {
    color: var(--primary-color);
    font-size: medium;
  }
}

.mat-button {
  font-size: var(--text-size);
  line-height: var(--line-spacing);
}

.mat-progress-bar > div > div:first-of-type {
  opacity: .5;
}

.loader {
  border: 2em solid grey;
  border-top: 2em solid var(--accent-color);
  border-bottom: 2em solid var(--primary-color);
  border-radius: 50%;
  width: 18em;
  height: 18em;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -10em 0 0 -10em;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.mat-link {
  color: var(--text-color);
}

button.mat-button-base{
  margin: 0.2em;
}

:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.spacer {
  flex: 1 1 auto;
}

.full-width {
  width: 100%;
}

.fullscreen-overlay {
  width: 70%;
  height: 70%;
  position: fixed !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .content {
    position: fixed;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.hidden {
  visibility: hidden;
  height: 0;
}

.obsolete {
  color: grey;
}

.primary-color {
  color: var(--primary-color);
}

.accent-color {
  color: var(--accent-color);
}

.column-block {
  display: flex;
  flex-flow: column;
}

app-side-nav {
  display: flex;
  flex-flow: column;

  a {
    padding: 1em;
  }
}

.drawer {
  height: 100%;
  padding: 0 1em;
}

mat-drawer-container.drawer-container {
  position: absolute;
}

ul {
  list-style: none;
  float: left;
  display: flex;
}

.center-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.small-center {
  max-width: 40em;
  margin: 0 auto;
}

.form-group {
  margin: 1em;
  padding: 1em;

  mat-form-field {
    padding: 0.5em;
  }
}

.show-more-link {
  padding: .5em;
  color: var(--primary-color);
}

.alert {
  margin: 1em;
  padding: 1em;
}

.content{
  margin: 1em;
  padding: 1em;
}

.mat-card-title {
  text-decoration: none;
  cursor: pointer;
}

.project-item,
.dashboard-item {
  margin: 1em;
  padding: 1em;

  &__header {
    width: 100%;

    .project-type {
      position: absolute;
      right: 1em;
      color: var(--accent-color);
    }
  }

  &--new {
    border: 3px solid var(--primary-color);
  }
}

.project-list {
  padding-bottom: 3em;
}

.project-description {
  margin: 1em 0 2em 0;
  white-space: pre-wrap;
}

.project-wip::after {
  font-family: 'Material Icons', serif;
  content: "work";
  -webkit-font-feature-settings: 'liga';
  vertical-align: middle;
  padding-left: 0.3em;
}

.additional-links {
  position: absolute;
  bottom: 0;
  padding: 1em;
}

.submission-list {
  display: flex;
  flex-flow: column;

  &__item {
    padding: .2em;

    &:hover {
      border: 1px solid var(--primary-color);
    }

    &.selected {
      border: 1px solid var(--accent-color);
    }
  }
}

.bottom-toolbar {
  position: fixed;
  bottom: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  padding: 1.5em;

  button {
    display: flex;
    flex-direction: column;

    &:hover {
      background-color: var(--accent-color);
    }
  }

  &__icons {
    display: flex;

    button {
      display: flex;
      flex-direction: column;
    }
  }

  &__text {
    font-size: var(--text-size);
    font-weight: normal;
  }

  &__actions .mat-button {
    min-width: 3.5em;
  }
}

.progress-bars {
  position: relative;

  &__container {
    position: relative;
    height: 3em;
  }

  &__label {
    font-size:var(--text-size);
    position: absolute;
    bottom: 0;
  }

  .mat-progress-bar {
    height: var(--text-size);
    position: absolute;
    border-radius: 0.5em;
  }
}

.deadline {
  float: right;

  i, span {
    vertical-align: middle;
    padding-left: 0.3em;
  }
}

.submission-project {
  cursor: pointer;

  i {
    vertical-align: middle;
    padding-right: 0.3em;
  }
}

.input--with-icon {
  display: flex;
  flex-flow: row;
}

.subproject-overview {
  &__name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__progress {}
}

.mat-dialog-content {
  overflow: inherit !important;
}

.mat-card-header-text {
  margin: 0 !important;
}

.weekday-list {
  flex-flow: column;
}

.goal {
  font-size: var(--text-size);
  color: var(--text-color);
}

svg g {
  .wp_background {
    fill: var(--primary-color) !important;
  }
  .wp_p {
    fill: var(--accent-color) !important;
  }
  .wp_w {
    fill: var(--text-color);
  }
}

.customization-card {
  display: flex;

  .color-picker-input {
    border: none;
    background-color: transparent;
  }

  .decimal-input {
    margin: 0.2rem;
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid grey;
    max-width: 2.5rem;
  }
}
