html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button.mat-button-base{
  margin: 0.2em;
}

:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.spacer {
  flex: 1 1 auto;
}

.hidden {
  visibility: hidden;
}

ul {
  list-style: none;
  float: left;
  display: flex;
}

.center-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.form-group {
  margin: 1em;
  padding: 1em;

  mat-form-field {
    padding: 0.5em;
  }
}
.content{
  margin: 1em;
  padding: 1em;
}
.project-item {
  margin: 1em;
  padding: 1em;

  &__header {
    width: 100%;

    .project-type {
      position: absolute;
      right: 1em;
      // TODO accent color
    }
  }
}
