<form
  class="form-group"
  (ngSubmit)="onSubmit()"
  #projectForm="ngForm"
>
  <div>
    <mat-form-field>
      <mat-label>{{ 'label_title' | translate }}</mat-label>
      <input
        matInput
        placeholder="{{ 'placeholder_working_title' | translate }}"
        type="text"
        name="title"
        class="form-control"
        data-testid="title-input"
        required
        [(ngModel)]="project.workingTitle"
      >
    </mat-form-field>
    <mat-form-field>
      <!--<label for="description">Blurp</label>-->
      <textarea
        matInput
        id="description"
        name="description"
        placeholder="{{'placeholder_blurp' | translate}}"
        class="form-control"
        data-testid="description-input"
        [(ngModel)]="project.description"

      ></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{'label_image' | translate}}</mat-label>
      <input
        matInput
        name="imgPath"
        type="url"
        placeholder="www.myimage.com/.../image.png"
        class="form-control"
        data-testid="image-input"
        [(ngModel)]="project.imagePath"
      >
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>{{'label_project_type' | translate}}</mat-label>
      <mat-select
        name="type"
        class="form-control"
        data-testid="type-select"
        [(ngModel)]="project.type"
        >
        <mat-option
          *ngFor="let type of eProjectType | keyvalue"
          value="{{ type.key }}"
        >
          {{ type.value | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{'label_project_state' | translate}}</mat-label>
      <mat-select
        name="state"
        class="form-control"
        data-testid="state-select"
        [(ngModel)]="project.state"
      >
        <mat-option *ngFor="let state of eProjectState | keyvalue" value="{{state.key}}">{{state.value | translate}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{'label_deadline' | translate }}</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        name="deadline"
        class="form-control"
        data-testid="deadline-picker"
        [(ngModel)]="project.deadline"
      >
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>{{'label_goal_word_count' | translate}}</mat-label>
      <input
        type="number"
        name="goalWordcount"
        matInput
        class="form-control"
        data-testid="goal-wordcount-input"
        [(ngModel)]="project.goalWordcount"
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{'label_current_word_count' | translate}}</mat-label>
      <input
        type="number"
        name="currentWordcount"
        matInput
        class="form-control"
        data-testid="current-wordcount-input"
        [(ngModel)]="project.currentWordcount"
      >
    </mat-form-field>
  </div>

  <div class="button-row">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      data-testid="save-button"
      [disabled]="projectForm.invalid"
    >{{ (editMode ? 'button_save' : 'button_create') | translate}}</button>
    <button
      mat-stroked-button
      color="accent"
      data-testid="cancel-button"
    >{{'button_cancel' | translate}}</button>
  </div>
</form>
