<form *ngIf="project"
  class="form-group"
  (ngSubmit)="onSubmit()"
  #projectForm="ngForm"
>
  <div>
    <mat-form-field color="primary">
      <mat-label>{{ 'label_title' | translate }}</mat-label>
      <input
        matInput
        placeholder="{{ 'placeholder_working_title' | translate }}"
        type="text"
        name="title"
        #titleId="ngModel"
        class="form-control"
        data-testid="title-input"
        required
        [(ngModel)]="project.workingTitle"
      >
      <mat-error *ngIf="!titleId.valid">{{ 'error_required' | translate }}</mat-error>
    </mat-form-field>

    <mat-form-field color="primary">
      <mat-label>{{ 'label_genre' | translate }}</mat-label>
      <input
        matInput
        type="text"
        name="genre"
        class="form-control"
        data-testid="genre-input"
        [(ngModel)]="project.genre"
      >
    </mat-form-field>

    <mat-checkbox
      name="workInProgress"
      color="primary"
      class="form-control"
      data-testid="work-in-progress-checkbox"
      [(ngModel)]="project.isWorkInProgress"
    >{{ 'label_wip' | translate }}
    </mat-checkbox>

    <mat-form-field color="primary" class="full-width">
      <textarea
        matInput
        id="description"
        name="description"
        rows="3"
        placeholder="{{ 'placeholder_blurb' | translate }}"
        class="form-control"
        data-testid="description-input"
        [(ngModel)]="project.description"

      ></textarea>
    </mat-form-field>
    <mat-form-field color="primary">
      <mat-label>{{ 'label_image' | translate }}</mat-label>
      <input
        matInput
        name="imgPath"
        #pathId="ngModel"
        type="url"
        placeholder="www.myimage.com/.../image.png"
        class="form-control"
        data-testid="image-input"
        [(ngModel)]="project.imagePath"
      >
      <mat-error *ngIf="!pathId.valid">{{ 'error_invalid_path' | translate }}</mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field color="primary">
      <mat-label>{{ 'label_project_type' | translate }}</mat-label>
      <mat-select
        name="type"
        class="form-control"
        data-testid="type-select"
        [(ngModel)]="project.type"
        >
        <mat-option
          *ngFor="let type of eProjectType | keyvalue"
          value="{{ type.key }}"
        >
          {{ type.value | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field color="primary">
      <mat-label>{{'label_project_state' | translate}}</mat-label>
      <mat-select
        name="state"
        class="form-control"
        data-testid="state-select"
        [(ngModel)]="project.state"
      >
        <mat-option *ngFor="let state of eProjectState | keyvalue" value="{{state.key}}">{{state.value | translate}}</mat-option>
      </mat-select>
    </mat-form-field>
    <app-deadline-picker [(deadline)]="project.deadline"></app-deadline-picker>
  </div>

  <div>
    <mat-form-field color="primary">
      <mat-label>{{ 'label_current_word_count' | translate }}</mat-label>
      <input
        type="number"
        name="currentWordcount"
        #currentCountId="ngModel"
        matInput
        gteValidator
        class="form-control"
        data-testid="current-wordcount-input"
        [(ngModel)]="project.currentCount"
      >
      <mat-error *ngIf="!currentCountId.valid">{{ 'error_invalid_value' | translate }}</mat-error>
    </mat-form-field>

    <mat-form-field color="primary">
      <mat-label>{{ 'label_count_entity' | translate }}</mat-label>
      <mat-select
        name="count-entity"
        class="form-control"
        data-testid="count-entity-select"
        [(ngModel)]="project.countEntity"
      >
        <mat-option *ngFor="let state of eCountEntity | keyvalue" value="{{state.key}}">{{state.value | translate}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field color="primary">
      <mat-label>{{ 'label_goal_word_count' | translate }}</mat-label>
      <input
        type="number"
        name="goalWordcount"
        #goalCountId="ngModel"
        matInput
        gteValidator
        class="form-control"
        data-testid="goal-wordcount-input"
        [(ngModel)]="project.goalCount"
      >
      <mat-error *ngIf="!goalCountId.valid">{{ 'error_invalid_value' | translate }}</mat-error>
    </mat-form-field>

    <mat-form-field color="primary">
        <mat-label>{{ 'label_max_goal_word_count' | translate }}</mat-label>
        <input
          type="number"
          name="maxGoalWordcount"
          #maxGoalCountId="ngModel"
          matInput
          gteValidator [gteNum]=project.goalCount
          class="form-control"
          data-testid="max-goal-wordcount-input"
          [(ngModel)]="project.maxGoalCount"
        >
      <mat-error *ngIf="!maxGoalCountId.valid">{{ 'error_invalid_value' | translate }}</mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field color="primary">
      <mat-label>{{ 'label_reward' | translate }}</mat-label>
      <textarea
        matInput
        id="reward"
        name="reward"
        rows="2"
        placeholder="{{ 'placeholder_reward' | translate }}"
        class="form-control"
        data-testid="reward-input"
        [(ngModel)]="project.reward"
      ></textarea>
    </mat-form-field>


    <mat-form-field color="primary">
      <mat-label>{{ 'label_event' | translate }}</mat-label>
      <input
        matInput
        type="text"
        name="eventLink"
        class="form-control"
        data-testid="event-input"
        [(ngModel)]="project.eventLink"
      >
    </mat-form-field>

    <mat-form-field color="primary">
      <mat-label>{{ 'label_language' | translate }}</mat-label>
      <input
        matInput
        type="text"
        name="language"
        class="form-control"
        data-testid="event-input"
        [(ngModel)]="project.language"
      >
    </mat-form-field>
  </div>

  <div class="button-row">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      data-testid="save-button"
      [disabled]="projectForm.invalid"
    >{{ (editMode ? 'button_save' : 'button_create') | translate}}</button>
    <button
      mat-stroked-button
      type="button"
      color="accent"
      data-testid="cancel-button"
      (click)="onCancel()"
    >{{'button_cancel' | translate}}</button>
  </div>
</form>

<div class="content" *ngIf="this.project.publication">
  <h2>{{ 'label_publication' | translate }}</h2>
  <app-publication-edit [publication]="project.publication"></app-publication-edit>

  <button
    mat-stroked-button
    color="warn"
    (click)="deletePublication()">
    {{ 'button_delete_publication' | translate }}
  </button>
</div>

<div class="content">
  <h2 *ngIf="project.subprojects && project.subprojects.length > 0">{{ 'label_subprojects' | translate }}</h2>

  <div *ngFor="let subproject of project.subprojects">
    <app-subproject-edit [project]="project" [subproject]="subproject" [editMode]="true"></app-subproject-edit>
  </div>

  <button
    mat-stroked-button
    color="primary"
    type="button"
    (click)="addSubproject()"
  >{{ 'button_add_subproject' | translate }}</button>
</div>

