<div class="grafico">
  <div class="content">
    <div class="bars"
         *ngFor="let item of data"
         [style.width]="barWidth + '%'"
         [style.padding]="(barWidth < 10) ? '0 0.1em' : '0 0.7em'"
    >
      <span [style.writing-mode]="isTextTurned() ? 'tb-rl' : ''">{{ item.value }}</span>
      <div class="bar" [style.background-color]="item.color" [style.height]="item.size"></div>
    </div>
  </div>
  <div class="line"></div>
  <div class="legends">
    <span *ngFor="let item of data" [style.writing-mode]="isTextTurned() ? 'tb-rl' : ''"
          [style.width]="barWidth + '%'"
    >
      <span *ngIf="translationService.language === 'de'">{{ item.legend | date : 'd.M.' }}</span>
      <span *ngIf="translationService.language === 'en'">{{ item.legend | date : 'MMMM d' }}</span>
    </span>
  </div>
</div>
