<app-writing-goals></app-writing-goals>

<!-- <app-notification-settings></app-notification-settings>-->

  <mat-card class="dashboard-item">
    <mat-card-header class="project-item__header">
      <mat-card-title>{{ 'label_account' | translate }}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <!--<div>
    <mat-form-field>
      <mat-label>{{ 'label_pseudonym' | translate }}</mat-label>
      <input
        matInput
        type="text"
        name="pseudonym"
        class="form-control"
        data-testid="pseudonym-input"
        ngModel
      >
    </mat-form-field>
  </div>-->
    </mat-card-content>

    <mat-card-actions class="button-row">

      <!--<button
        mat-raised-button
        color="accent"
        (click)="saveUserSettings()">
        {{ 'button_save' | translate }}</button>-->
      <button
        mat-raised-button
        color="primary"
        *ngIf="authService.isAnonymous"
        data-testid="upload-button"
        (click)="createAccount()">
        {{ 'label_create_account' | translate }}</button>
      <button
        mat-raised-button
        *ngIf="authService.isLoggedIn"
        color="warn"
        data-testid="delete-button"
        (click)="deleteAccount()">
        {{ 'label_delete_account' | translate }}</button>
    </mat-card-actions>
  </mat-card>

  <!-- Notifications -->
  <!-- App-Info -->
  <mat-card class="dashboard-item">
    <mat-card-header class="project-item__header">
      <mat-card-title>{{ 'headline_about' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      {{ 'label_version' | translate }} {{ version }}
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button><a [routerLink]="['/privacy_policy']">{{ 'label_privacy_policy' | translate }}</a></button>
    </mat-card-actions>
  </mat-card>
